.home-section{
    display: flex;
}

.home-conteudo1{
    width: 50%;
    margin-left: 5rem;
    text-align: center;
}


.home-conteudo2{
    width: 50%;
    margin-right: 5rem;
    text-align: center;
}

.home-conteudo2 > p > a{
    text-decoration: none;
    cursor: pointer;
    color: lightblue;    
}

.home-django{
    width: 70%;

}

p{
    margin: 5px;
}